{% extends 'inc/base.html' %}
{% load static %}

{% block title %}
    <title>Авторизация</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/login_register.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="title">Авторизация</div>
        <form id="authform" class="form">
            {%csrf_token%}
            <input name="username" type="text" placeholder="Логин" required autocomplete="off">
            <input name="password" type="password" placeholder="Пароль" required autocomplete="off">
            <button id="sendauth" class="login-button" type="submit">Войти</button>
        </form>

        <p class="no-account">Нет аккаунта? <a href='{% url "user:register" %}'>Регистрация</a>.</p>
    </div>

    <div class="back-button-container">
        <button class="back-button" onclick="window.location.href=`{% url 'index' %}`">На главную</button>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/user_handler.js' %}"
    data-url="{% url 'user:auth' %}"></script>
{% endblock %}