{% extends 'inc/base.html' %}
{% load static %}

{% block title %}
    <title>Профиль пользователя</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block body %}

    {% include 'inc/topnav.html' %}

    <div class="profile-container">
        <div class="user-info">
            <img src="{% static 'img/avatar.jpg' %}" alt="User   Avatar" class="avatar">
            <div class="user-details">
                <h1 class="username">{{ user.username }}</h1>
                <h2 class="real-name">{{ user.first_name }} {{ user.last_name }}</h2>
            </div>
        </div>
        <div class="details-container">
            <div class="inventory">
                <h2>Инвентарь</h2>
                <ul>
                    {% for item in user.inventory %}
                        <li>{{ item.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="usage-history">
                <h2>История использования</h2>
                <ul>
                    {% for history in user.usage_history %}
                        <li>{{ history.item.name }} ({{ history.date }})</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

{% endblock %}