{% extends 'inc/base.html' %}
{% load static %}

{% block title %}
    <title>Регистрация</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/login_register.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="title">Регистрация</div>
        <form id="authform" class="form" method="post" action="{% url 'user:profile' %}">
            {% csrf_token %}
            <input name="username" type="text" placeholder="Логин" required>
            <input name="password" type="password" placeholder="Пароль" required>
            <input name="rpassword" type="password" placeholder="Повторите пароль" required>
            <input name="first" type="text" placeholder="Имя" required>
            <input name="last" type="text" placeholder="Фамилия" required>
            <div class="error">
                <p></p>
            </div>
            <button id="sendauth" class="login-button" type="submit">Зарегистрироваться</button>
        </form>
        <p class="no-account">Уже есть аккаунт? <a href='{% url "user:login" %}'>Авторизоваться</a>.</p>
    </div>

    <div class="back-button-container">
        <button class="back-button" onclick="window.location.href='/'">На главную</button>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/user_handler.js' %}"
    data-url="{% url 'user:register' %}"=""></script>
{% endblock %}