{% extends 'admin/admin.html' %}
{% block settings %}

    <div class="content">
        <h2>Основные</h2>
        <div class="setting">
            <label for="free_register">Свободная регистрация</label>
            <label class="switch">
                <input type="checkbox" name="free_register">
                <span class="slider"></span>
            </label>
        </div>
        <div class="setting">
            <label for="hide_real_names">Прятать настоящие имена для обычных пользователей</label>
            <label class="switch">
                <input type="checkbox" name="hide_real_names">
                <span class="slider"></span>
            </label>
        </div>
        <div class="setting">
            <label for="free_user_inventory_view">Свободный просмотр закреплённого инвентаря для обычных пользователей</label>
            <label class="switch">
                <input type="checkbox" name="free_user_inventory_view">
                <span class="slider"></span>
            </label>
        </div>
    </div>

{% endblock %}
