{% extends 'admin/admin.html' %}

{% block script %}
    <script>
        


        function sendRequest() {
            const url = `{% url 'adminp:report_csv' %}`;

            fetch(url)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Сервер не отвечает. Перезвоните позже.');
                }
                return response.blob();
            })
            .then(blob => {
                console.log(blob)
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = 'report.csv';
                // a.download = blob.url;
                document.body.appendChild(a);
                a.click();
                a.remove();
                window.URL.revokeObjectURL(url);
            })
            .catch(error => {
                console.error('Произошла ошибка:', error);
            })
            .finally(() => {
                // Задержка перед перезагрузкой страницы
                setTimeout(() => {
                    location.reload();
                }, 50); // Задержка в 2 секунды
            });
        }
    </script>
{% endblock %}

{% block settings %}

    <div class="content">
        <h2>Отчёты</h2>

        <div class="settings">
            <button onclick="sendRequest()">Сформировать отчет</button>
        </div>

        {% if files|length == 0%}
            <h2>Нет сформированных отчётов</h2>
        {%else%}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Имя файла</th>
                        <th>Дата формирования</th>
                        <th>Файл</th>
                    </tr>
                </thead>

                <tbody>
                    {% for file in files %}
                        <tr>
                            <td>{{ file.file_name }}</td>
                            <td>{{ file.created_at }}</td>
                            <td><a href="{{ file.download_link }}" download>Скачать</a></td>
                        </tr>
                    {% endfor %}
                    

                </tbody>
            </table>
        {%endif%}

        

    </div>

{% endblock %}
