{% extends 'inc/base.html' %}
{% load static %}

{% block title %}
    <title></title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/inc/topnav.css' %}">
{% endblock %}

{% block body %}
    <div class="topnav">
        <div class="nav-left">
            <button onclick="window.location.href=`{% url 'inventory:index' %}`">Инвентарь</button>
            <button onclick="window.location.href=`{% url 'requests:index' %}`">Заявки</button>
            <button onclick="window.location.href=`{% url 'procurements:index' %}`">Закупки</button>
        </div>
        <div class="nav-right">
            {% if user.is_authenticated %}
                <div class="userblock" onclick="window.location.href=`{% url 'user:profile' %}`">
                    <p class="topusername">{{ user.username }}</p>
                    <img class="user-avatar" src="{% static 'img/user-avatar.png' %}" alt=" ">
                </div>
            {% else %}
                <button onclick="window.location.href=`{% url 'user:login' %}`">Авторизация</button>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}