{% extends 'inc/base.html' %}
{% load static %}

{% block title %}
    <title></title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/inc/topnav.css' %}">
{% endblock %}

{% block body %}
    <div class="topnav">
        <div class="nav-left">
            <button onclick="window.location.href=`{% url 'inventory:index' %}`">Инвентарь</button>
            <button onclick="window.location.href=`{% url 'requests:index' %}`">Заявки</button>
        </div>
        <div class="nav-right">
            <button onclick="window.location.href=`{% url 'user:login' %}`">Авторизация</button>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}