
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.title {
    font-size: 24px;
    margin-bottom: 20px;
}


input[type="text"], input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.login-button {
    padding: 10px;
    background-color: #11bfa5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


.login-button:hover {
    background-color: #19af99;
}

.no-account {
    margin-top: 10px;
}