.profile-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-info {
    display: flex;
    align-items: center;
    padding: 20px;
}

.profile_avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.user-details {
    flex-grow: 1;
}

.username {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
}

.real-name {
    font-size: 18px;
    color: #666;
}

.details-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.inventory {
    width: auto;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.usage-history {
    width: 25%;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inventory h2, .usage-history h2 {
    margin-top: 0;
    font-size: 18px;
}

.inventory ul, .usage-history ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.inventory li, .usage-history li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.inventory li:last-child, .usage-history li:last-child {
    border-bottom: none;
}



.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Остается на месте */
    z-index: 1; /* Сверху */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    background-color: rgb(0,0,0); /* Черный фон с прозрачностью */
    background-color: rgba(0,0,0,0.4); /* Черный фон с прозрачностью */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% сверху и центрирование */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ширина */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.logout-button {
    margin-left: 20px;
}

.change-avatar-button {
    margin-left: 10px;
}





.image-container {
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
    margin: 20px auto;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

#previewImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
}

.crop-box {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 2px solid yellow;
    cursor: move;
    box-sizing: border-box;
    display: none;
}

.controls {
    margin-top: 20px;
}

#sizeSlider {
    width: 200px;
    margin: 0 10px;
}

#confirmBtn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#confirmBtn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.modal2 {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Остается на месте */
    z-index: 1; /* Сверху */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включает прокрутку, если необходимо */
    background-color: rgba(255, 255, 255, .6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.modal-content2 {
    background-color: #fefefe;
    margin: 3% auto; /* 15% сверху и центрирование */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Ширина */
    border-radius: 15px;
}