.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.category {
    margin-top: 15px;
}

.main-content {
    width: 70%;
}

.sidebar {
    width: 25%;
    padding: 20px;
    border-left: 1px solid #ddd;
}

.sidebar h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: flex-end; /* Выравнивание кнопок вправо */
    display: table-column;
    margin-top: 10px; /* Отступ сверху для кнопок */
}

hr {
    border: none; /* Убираем стандартные границы */
    height: 2px; /* Высота линии */
    background-color: #000; /* Цвет линии */
    margin: 20px 0; /* Отступы сверху и снизу */
}

.cancel-button {
    margin-left: 5px;
}

.complete-button  {
    margin-right: auto;
}

.statusButton {
    bottom: 10;
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 2px;
    margin-bottom: 7px;
}

.apply-status-button {
    bottom: 10;
    width: 49%;
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 4px;
}

.cancel-status-button {
    bottom: 10;
    width: 49%;
    padding: 8px;
    background-color: #dd4150;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: 6px;
}

.cancel-status-button:hover {
    background-color: #8b1a1a;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

.button:hover {
    background-color: #0056b3;
}

.requests-container {
    display: flex;
    justify-content: space-between;
}

.requests-list {
    width: 100%;
    margin-right: 20px;
}

.add-request {
    width: 30%;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.5s;
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.input-group input, .input-group select {
    width: 100%; /* Убедитесь, что ширина 100% */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-sizing: border-box; /* Учитывает padding и border в общей ширине */
}

.input-group label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.input-group input:focus, .input-group select:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
    outline: none;
}

.add-button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.add-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.error-message {
    display: none;
    color: #dc3545;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 6px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.input-group {
    margin-bottom: 7px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.requests-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.requests-item {
    position: relative;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.requests-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.requests-item h3 {
    margin: 0 0 10px;
    color: #333;
    font-size: 20px;
}

.requests-item p {
    margin: 5px 0;
    color: #666;
    font-size: 16px;
}

.confirm {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 0;
}

.toggle-view-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 11px;
    margin-bottom: 10px;
}

.toggle-view-button:hover {
    background-color: #0056b3;
}

.requests-list.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    width: 100%;
}

.requests-list.grid-view .requests-item {
    margin-bottom: 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.requests-list.grid-view .requests-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.requests-list.list-view {
    display: block;
}

.requests-list.list-view .requests-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.checkbox-container {
    position: absolute; /* Абсолютное позиционирование */
    top: 10px; /* Отступ сверху */
    right: 10px; /* Отступ справа */
}

.requests-checkbox {
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.hidden {
    display: none;
}


.select-all-button {
    margin-top: 0px; /* Отступ сверху */
    margin-bottom: 0px;
}

.hidden {
    display: none;
}

.inventory-header {
    width: 70%;
}

.delite-header {
    width: 30%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}

.remove-button {
    background-color: #dd4150;
    color: white;
    margin-bottom: 5px;
    margin-top: 0px; /* Отступ сверху */
    width: 100%;

}

.remove-button:hover {
    background-color: #8b1a1a;
}


.NotChosenItemModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.5s;
}

.NotChosenItemModal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}


.ConfirmItemDelitionModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.5s;
}

.ConfirmItemDelitionModal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.confirm-del-button {
    width: 50%;
    padding: 10px;
    background-color: #dd4150;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.confirm-del-button:hover {
    background-color: #8b1a1a;
}


.decline-del-button {
    width: 50%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}