* {
    margin: 0;
    
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

button {
    padding: 10px; /* Внутренние отступы */
    background-color: #007bff; /* Цвет фона кнопки */
    color: white; /* Цвет текста */
    border: none; /* Без рамки */
    border-radius: 4px; /* Закругленные углы */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Курсор при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

button:hover {
    background-color: #0056b3; /* Более темный цвет при наведении */
}

p {
    user-select: none;
}