.topnav {
    display: flex;
    flex-direction: row;
    background-color: #007bff;
    padding: 0;
    height: 50px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-button {
    margin-left: auto; /* Это переместит кнопку вправо */
}