.topnav {
    display: flex;
    flex-direction: row;
    background-color: #007bff;
    padding: 0;
    height: 50px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-right {
    margin-left: auto; /* Отодвигаем правую часть вправо */
    margin-right: 0px; /* Отступ слева для отделения от других кнопок */
}

.nav-left {
    display: flex; /* Используем Flexbox для левой части */
}