.topnav {
    display: flex;
    flex-direction: row;
    background-color: #007bff;
    padding: 0;
    height: 50px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-right {
    margin-left: auto; /* Отодвигаем правую часть вправо */
    margin-right: 15px; /* Отступ слева для отделения от других кнопок */
    display: flex;
    flex-direction: row;
}

.nav-left {
    display: flex; /* Используем Flexbox для левой части */
    float: right;
}

.nav-left-decorator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5px;
}

.nav-left-decorator p {
    color:white;
}

.topusername {
    margin-right: 1rem;
    height: 40px;
    line-height: 40px; /* Ensures text is vertically centered */
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    
}

.userblock {
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    transition: background-color 0.3s ease;
    padding-left: 15px;
    padding-right: 5px;
    border-radius: 4px;
    color: white;
}

.userblock:hover {
    cursor: pointer;
    background-color: #0056b3; /* Более темный цвет при наведении */

}