{% extends 'inc/base.html' %}
{% load static %}

{% block title %}
    <title>Закупки</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/procurements.css' %}">
{% endblock %}

{% block body %}
    {% include 'inc/topnav.html' %}
    
    <div class="container">
        <div class="change-view">
            <button type="button" onclick="window.location.href=`{% url 'procurements:index' %}`">Посмотреть закупки</button>
        </div>
        
        <h1>Поиск в магазинах</h1>
        
        <div class="search-form">
            <input type="text" id="search" placeholder="Введите запрос...">
            <script>
                document.getElementById('search').addEventListener('keypress', function(event) {
                    if (event.key === 'Enter') {
                        search();
                    }
                });
            </script>
            <button type="button" onclick="search()">Искать</button>
        </div>
        
        <div class="cantfound">
            {% if isfound == 0 %}
                По вашему запросу ничего не найдено
            {% endif %}
        </div>
        
        {% csrf_token %}
        <div class="rectangles">
            {% for i in displayers %}
                <div class="inventory-item">
                    <div class="columns">
                        <div class="text-container" id="{{ i.id }}">
                            <h3>{{ i.name }}</h3>
                            <p>Цена: {{ i.price }}</p>  
                            <p>Поставщик: starfitshop</p>
                        </div>
                        <div class="img-container">
                            <img src="{{ i.photoPath }}" alt="{{ i.photoPath }}" width="100" height="100">
                        </div>
                    </div>
                    <div class="button-container">
                        <button type="button" onclick="window.location.href='{{ i.href }}'">Посмотреть товар</button>
                        <button type="button" onclick="createProcurement(`{{ i }}`)">Создать закупку</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/procurements.js' %}" data-url="{% url 'procurements:index' %}"></script>
{% endblock %}