{% extends 'inc/base.html' %}
{% load static %}

{% block title %}
    <title>Inventory details</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/item.css' %}">
{% endblock %}

{% block body %}
    {% include 'inc/topnav.html' %}

    <div class="container">
        <div class="item-content">
            <!-- Фотография предмета -->
            <div class="item-photo">
                <img src="{% static 'images/item.jpg' %}" alt="Item Photo">
            </div>

            <!-- Характеристики предмета -->
            <div class="item-specs">
                <h2>Характеристики предмета</h2>
                <ul>
                    <li>Название: {{item.name}} </li>
                    <li>Состояние:                         
                    {% if item.status == 0 %}
                        сломано
                    {% elif item.status == 1 %}
                        в норме
                    {% elif item.status == 2 %}
                        новое
                    {% else %}
                        неизвестно
                    {% endif %}</li>
                    <li>Владелец: {{item.current_holder}}</li>
                </ul>
            </div>

            <!-- Боковая панель -->
            <div class="sidebar">
                <h2>История владельцев</h2>
                <p></p>
            </div>

            <div class="qr-and-button-container">
                <button class="edit-button">Редактировать</button>
                <p>QR-код предмета</p>
                <div class="qr-container">
                    <img src="{% static 'images/qr-code.png' %}" alt="QR Code">
                </div>
            </div>
    
        </div>

        <!-- Комментарии -->
        <div class="item-comments">
            <h2>Комментарии</h2>
            <p>Здесь будут отображаться комментарии.</p>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}