{% extends 'inc/base.html' %}
{% load static %}

{% block title %}
    <title>Закупки</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/procurements.css' %}">
{% endblock %}

{% block body %}
    {% include 'inc/topnav.html' %}
    <div class="container">
        <div class="change-view">
            <input type="text" class="input-button-style" id="search" placeholder="Введите запрос...">
            <button type="button" onclick="searchMain()">Поиск товаров</button>
        </div>
        <div class="main-content">
            <div class="header-container">
                <div class="inventory-header"> 
                    <h2>Список закупок</h2>
                </div>
                            
                <div class="delite-header">
                    <button class="remove-button hidden" onclick="deleteInventory()">Удалить</button>
                    <button class="button select-all-button hidden" onclick="selectAllItems()">Выделить все</button>
                </div>  
            </div>

            <div class="inventory-list grid-view">
                {% for i in procurements %}
                <div class="inventory-item">
                    <div class="columns">
                        <div class="text-container"> 
                            <h3>{{ i.name }}</h3>
                            <p>Количество: {{ i.amount }}</p>
                            <p>Цена: {{ i.price }}</p>
                        </div>
                        <div class="img-container">
                            <img src="{{ i.photoPath }}" alt="{{ i.photoPath }}" width="100" height="100">
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    
        <div class="sidebar">
            <h2>Добавить закупку</h2>
            <button class="button" onclick="openModal()">Добавить</button>
            <h2>Удалить закупку</h2>
            <button class="button delete-button" onclick="toggleCheckboxes()">Удалить</button>
        </div>
    </div>

    <div id="NotChosenItemModal" class="NotChosenItemModal">
        <div class="NotChosenItemModal-content">
            <span class="close" onclick="closeNotChosenItemModal()">&times;</span>
            <h2>Ошибка</h2>
            <p>Пожалуйста, выберите хотя бы один элемент для удаления.</p>
        </div>
    </div>

<div id="ConfirmItemDelitionModal" class="ConfirmItemDelitionModal">
    <div class="ConfirmItemDelitionModal-content">
        <span class="close" onclick="closeConfirmItemDelitionModal()">&times;</span>
        <h2>Подтверждение удаления</h2>
        <p>Вы уверены, что хотите удалить выбранные элементы?</p>
        <div class="button-container">
            <button class="decline-del-button cancel-button" onclick="closeConfirmItemDelitionModal()">Отмена</button>
            <button class="confirm-del-button confirm-button" id="confirm-button">Удалить</button>
        </div>
    </div>
</div>

<div id="myModal" class="modal">
    <form id="addItemForm">
        {% csrf_token %}
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Введите данные закупки</h2>
            <div class="input-group">
                <label for="productName">Введите название товара:</label>
                <input name="productName" type="text" id="productName" placeholder="Название товара" required>
            </div>
            <div class="input-group">
                <label for="quantility">Количество предметов:</label>
                <input type="number" id="quantility" name="itemQuantity" value="1"/>
            </div>
            <div class="input-group">
                <label for="price">Цена (за шт):</label>
                <input type="number" id="price" name="itemPrice" value="0"/>
            </div>
            <div class="input-group">
                <label for="photoPathUsera">Ссылка на фотографию:</label>
                <input type="text" id="photoPathUsera" name="photoPathUsera" placeholder="Ссылка на фотографию"/>
            </div>
            <div class="confirm">
                <span class="error-message hidden" id="error-message"></span> <!-- Элемент для сообщения об ошибке -->
                <button id="createProcurementBtn" class="add-button" type="button" onclick="openModal()">Создать</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/procurements.js' %}" data-url="{% url 'procurements:index' %}"></script>
{% endblock %}