{% extends 'inc/base.html' %}
{% load static %}

{% block title %}
    <title>Закупки</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/procurements.css' %}">
{% endblock %}

{% block body %}
    {% include 'inc/topnav.html' %}
    <div class="container">
        <div class="change-view">
            <button type="button" onclick="window.location.href=`{% url 'inventory:item_view' item_id=i.id %}`">Посмотреть закупки</button>
        </div>
        <h1>Поиск в магазинах</h1>
        <div class="search-form">
            <input type="text" placeholder="Введите запрос...">
            <button type="button">Искать</button>
        </div>
        
        <div class="rectangles">
            <div class="rectangle-row">
                <div class="rectangle">
                    <h3>Прямоугольник 1</h3>
                    <p>gaajd jsd</p>
                </div>
                <div class="rectangle">
                    <h3>Прямоугольник 1</h3>
                    <p>gaajd jsd</p>
                </div>
                <div class="rectangle">
                    <h3>Прямоугольник 1</h3>
                    <p>gaajd jsd</p>
                </div>
                <button class="more-button" type="button">Больше</button>
            </div>
            <div class="rectangle-row">
                <div class="rectangle">
                    <h3>Прямоугольник 1</h3>
                    <p>gaajd jsd</p>
                </div>
                <div class="rectangle">
                    <h3>Прямоугольник 1</h3>
                    <p>gaajd jsd</p>
                </div>
                <div class="rectangle">
                    <h3>Прямоугольник 1</h3>
                    <p>gaajd jsd</p>
                </div>
                <button class="more-button" type="button">Больше</button>
            </div>
            <div class="rectangle-row">
                <div class="rectangle">
                    <h3>Прямоугольник 1</h3>
                    <p>gaajd jsd</p>
                </div>
                <div class="rectangle">
                    <h3>Прямоугольник 1</h3>
                    <p>gaajd jsd</p>
                </div>
                <div class="rectangle">
                    <h3>Прямоугольник 1</h3>
                    <p>gaajd jsd</p>
                </div>
                <button class="more-button" type="button">Больше</button>   
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}

{% endblock %}