{% extends 'inc/base.html' %}
{% load static %}

{% block title %}
    <title>Закупки</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/procurements.css' %}">
{% endblock %}

{% block body %}
    {% include 'inc/topnav.html' %}
    <div class="container">
        <div class="change-view">
            <input type="text" class="input-button-style" id="search" placeholder="Введите запрос...">
            <button type="button" onclick="searchMain()">Поиск товаров</button>
        </div>
        <div class="inventory-header"> 
            <h2>Список закупок</h2>
        </div>
        <div class="all-content">
            <div class="main-content">
                <div class="header-container">    
                    <div class="delite-header">
                        <button class="remove-button hidden" onclick="openConfirmItemDeletionModal()">Удалить</button>
                        <button class="button select-all-button hidden" onclick="selectAllItems()">Выделить все</button>
                    </div>
                </div>
    
                <div class="inventory-list grid-view">
                    {% for i in procurements %}
                    <div class="inventory-item">
                        <div class="columns">
                            <div class="text-container">
                                <div class="title">
                                    {% if i.amount != 1 %} 
                                        <span class="more-info-icon">
                                            x{{ i.amount }}<i class="fas fa-info-circle"></i>
                                        </span>
                                    {% endif %}
                                    <p>{{ i.name }}</p>
                                </div>
                                <p>Цена: {{ i.price }}</p>
                            </div>

                            <div class="checkbox-container hidden">
                                <input type="checkbox" class="inventory-checkbox" data-id="{{ i.id }}">
                            </div>
                        </div>
                        <div class="img-container">
                            {% if i.photoPath %}
                                <img src="{{ i.photoPath }}" width="25" height="25">
                            {% else %}
                                <img src="https://img3.procvetok.com/crop/w500h500/32/a0/32a074858cfe875cb16d47a91e7d3c93.jpg" width="25" height="25">
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        
            <div class="sidebar">
                <h2>Добавить закупку</h2>
                <button class="button" onclick="openModal()">Добавить</button>
                <h2>Удалить закупку</h2>
                <button class="button delete-button" onclick="toggleCheckboxes()">Удалить</button>
            </div>
        </div>
        
    </div>

    <div id="NotChosenItemModal" class="NotChosenItemModal">
        <div class="NotChosenItemModal-content">
            <span class="close" onclick="closeNotChosenItemModal()">&times;</span>
            <h2>Ошибка</h2>
            <p>Пожалуйста, выберите хотя бы один элемент для удаления.</p>
        </div>
    </div>

    <div id="ConfirmItemDelitionModal" class="ConfirmItemDelitionModal">
        <div class="ConfirmItemDelitionModal-content">
            <span class="close" onclick="closeConfirmItemDelitionModal()">&times;</span>
            <h2>Подтверждение удаления</h2>
            <p>Вы уверены, что хотите удалить выбранные элементы?</p>
            {% csrf_token %}
            <div class="button-container">
                <button class="decline-del-button cancel-button" onclick="closeConfirmItemDelitionModal()">Отмена</button>
                <button class="confirm-del-button" onclick="deleteInventory()">Удалить</button>
            </div>
        </div>
    </div>

<div id="myModal" class="modal">
    <form id="addItemForm">
        {% csrf_token %}
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Введите данные закупки</h2>
            <div class="input-group">
                <label for="productName">Введите название товара:</label>
                <input name="productName" type="text" id="productName" placeholder="Название товара" required>
            </div>
            <div class="input-group">
                <label for="quantility">Количество предметов:</label>
                <input type="number" id="quantility" name="itemQuantity" value="1"/>
            </div>
            <div class="input-group">
                <label for="price">Цена (за шт):</label>
                <input type="number" id="price" name="itemPrice" value="0"/>
            </div>
            <div class="input-group">
                <label for="photoPathUsera">Ссылка на фотографию:</label>
                <input type="text" id="photoPathUsera" name="photoPathUsera" placeholder="Ссылка на фотографию"/>
            </div>
            <div class="confirm">
                <span class="error-message hidden" id="error-message"></span> <!-- Element for error message -->
                <button id="createProcurementBtn" class="add-button" type="button" onclick="createProcurement()">Создать</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/procurements.js' %}" data-url="{% url 'procurements:index' %}" remurl="{% url 'procurements:del' %}"></script>
{% endblock %}