{% extends 'inc/base.html' %}
{% load static %}

{% block title %}
    <title>Запросы</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/requests.css' %}">
{% endblock %}

{% block body %}
    {% include 'inc/topnav.html' %}

    <div class="container">
        <div class="main-content">
            <div class="header-container">
                <div class="requests-header"> 
                    <h2>Список заявок</h2>
                </div>
                            
                <div class="delite-header">
                    <button class="button select-all-button hidden" onclick="selectAllItems()">Выделить все</button>
                </div>  
            </div>

                <div class="category">
                    <div class="category-title" onclick="toggleList(this)">
                        Новые
                        <span class="icon">▶</span>
                    </div>
                    <!-- <h3>Новые запросы</h3>
                    <hr> -->
                    <div class="item-list">
                    <div class="requests-list list-view" >
                        {% for i in requests %}
                            {% if i.request_display_type == 0 %}
                            <div class="requests-item">
                                <div class="checkbox-container hidden">
                                    <input type="checkbox" class="requests-checkbox" data-id="{{ i.id }}">
                                </div>
                                <h3>{{ i.requested_item }}</h3>
                                <p>{{  i.author }}</p>
                                <p> {% if i.request_type == 0 %}
                                        Приобретение
                                    {% elif i.request_type == 1 %}
                                        Замена
                                    {% elif i.request_type == 2 %}
                                        Назначение
                                    {% elif i.request_type == 3 %}
                                        Ремонт
                                    {% else %}
                                        неизвестно
                                    {% endif %}
                                </p>
                                <p>Описание: {{ i.text }}</p>
                                {% if user.is_staff %}
                                    <div class="button-container">
                                        <button class="complete-button" onclick="changeRequest('{{ i.id }}',1,1)">Принять</button>
                                        <button class="cancel-button" onclick="changeRequest('{{ i.id }}',3,2)">Отклонить</button>
                                    </div>
                                {% endif %}
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    </div>
                </div>
            
                <div class="category">
                    <div class="category-title" onclick="toggleList(this)">
                        Активные
                        <span class="icon">▶</span>
                    </div>
                    <!-- <h3>Активные запросы</h3>
                    <hr> -->
                    <div class="item-list">
                    <div class="requests-list list-view">
                        {% for i in requests %}
                            {% if i.request_display_type == 1 %}
                            <div class="requests-item">
                                <div class="checkbox-container hidden">
                                    <input type="checkbox" class="requests-checkbox" data-id="{{ i.id }}">
                                </div>
                                <h3>{{ i.requested_item }}</h3>
                                <p>{{  i.author }}</p>
                                <p> {% if i.request_type == 0 %}
                                        Приобретение
                                    {% elif i.request_type == 1 %}
                                        Замена
                                    {% elif i.request_type == 2 %}
                                        Назначение
                                    {% elif i.request_type == 3 %}
                                        Ремонт
                                    {% else %}
                                        неизвестно
                                    {% endif %}
                                </p>
                                <p>Описание: {{ i.text }}</p>
                                {% if user.is_staff %}
                                    <div class="button-container">
                                        <button class="complete-button" onclick="completeRequest('{{ i.id }}','{{ i.request_type }}')">Выполнить</button>
                                        <button class="cancel-button" onclick="changeRequest('{{ i.id }}',3,2)">Отменить</button>
                                    </div>
                                {% endif %}
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    </div>
                </div>
            
                <div class="category">
                    <div class="category-title" onclick="toggleList(this)">
                        Архивные
                        <span class="icon">▶</span> <!-- Иконка для закрытого состояния -->
                    </div>
                    <!-- <h3>Архивированные запросы</h3>
                    <hr> -->
                    <div class="item-list">
                    <div class="requests-list list-view">
                        {% for i in requests %}
                            {% if i.request_display_type == 2 %}
                            <div class="requests-item">
                                <div class="checkbox-container hidden">
                                    <input type="checkbox" class="requests-checkbox" data-id="{{ i.id }}">
                                </div>
                                <h3>{{ i.requested_item }}</h3>
                                <p>{{  i.author }}</p>
                                <p> {% if i.request_type == 0 %}
                                        Приобретение
                                    {% elif i.request_type == 1 %}
                                        Замена
                                    {% elif i.request_type == 2 %}
                                        Назначение
                                    {% elif i.request_type == 3 %}
                                        Ремонт
                                    {% else %}
                                        неизвестно
                                    {% endif %}
                                </p>
                                <p>Описание: {{ i.text }}</p>
                                <p>Статус: 
                                    {% if i.status == 2 %}
                                        Выполнено
                                    {% elif i.status == 3 %}
                                        Отказано
                                    {% endif %}
                                </p>
                                {% if user.is_staff %}
                                    <div class="button-container">
                                        <button class="cancel-button" onclick="changeRequest('{{ i.id }}',4,3)">Удалить</button>
                                    </div>
                                {% endif %}
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>      
            </div>
                </div>
        </div>
    
        <div class="sidebar">
            <h2>Создать заявку</h2>
            <button class="button" onclick="openModal()">Создать</button>
        </div>
    </div>

<div id="myModal" class="modal">
    <form id="createRequest">
        {% csrf_token %}
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Введите данные для заявки</h2>
            <div class="input-group">
                <label for="requestedType">Тип заявки:</label>
                <select name="requestedType" id="requestedType" onclick="f1()" required>
                    <option value="-1" disabled selected>Выберите тип</option>
                    <option value="0">Приобретение</option>
                    <option value="1">Замена</option>
                    <option value="3">Ремонт</option>
                    <option value="2">Получение</option>
                </select>
            </div>
            <div class="input-group hidden" id="type0">
                <label for="requestedItem">Экипировка:</label>
                <input type="text" id="requestedItem" autocomplete="off" oninput="elasticSearch()" placeholder="Укажите требуемую экипировку" name="requestedItem" list="resultsList">
                <datalist id="resultsList"></datalist>
            </div>
            <span class="error-message hidden" id="owner-error-message"></span>
            <div class="input-group hidden" id="type1">
                <label for="requestedItem">Экипировка для замены:</label>
                <select name="requestedItem" id="requestedItem" required>
                    <option value="-1" disabled selected>Выберите экипировку</option>
                    {% for j in items %}
                        {% if j.current_holder_id == user.id or user.is_staff %}
                        <option value="{{ j.id }}">{{ j.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="input-group hidden" id="type3">
                <label for="requestedItem">Экипировка для ремонта:</label>
                <select name="requestedItem" id="requestedItem" required>
                    <option value="-1" disabled selected>Выберите экипировку</option>
                    {% for j in items %}
                        {% if j.current_holder_id == user.id or user.is_staff %}
                        <option value="{{ j.id }}">{{ j.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="input-group hidden" id="type2">
                <label for="requestedItem">Экипировка для получения:</label>
                <select name="requestedItem" id="requestedItem" required>
                    <option value="-1" disabled selected>Выберите экипировку</option>
                    {% for j in items %}
                        <option value="{{ j.id }}">{{ j.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group">
                <label for="requestDesc">Причина:</label>
                <input name='requestDesc' type="text" id="requestDesc" placeholder="Причина создания заявки">
            </div>
            <form>
                <div class="confirm">
                    <span class="error-message hidden" id="error-message"></span> <!-- Элемент для сообщения об ошибке -->
                    <button id="createRequestBtn" class="add-button" type="button" onclick="createRequest()">Добавить</button>
                </div>
            </form>
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/requests.js' %}" data-url="{% url 'requests:index' %}"  
    data-archive="{% url 'requests:archive' %}" data-searchurl="{% url 'requests:search' %}"></script>
{% endblock %}